# Terraform local state and files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars

# Keys and credentials
*.pem
*.key
.env

# OS / Editor artifacts
.DS_Store
.idea/
.vscode/
*.swp

*.config
.conf